/vendor/
/node_modules/
/public/build/
/public/hot

/.env
/.env.*
!/.env.example

/storage/*.key
/storage/app/*
!/storage/app/.gitignore
!/storage/app/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
!/storage/framework/cache/.gitkeep
!/storage/framework/cache/data/
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
!/storage/framework/sessions/.gitkeep
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
!/storage/framework/testing/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitignore
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitignore
!/storage/logs/.gitkeep

/bootstrap/cache/*.php

/.phpunit.cache/
/coverage/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

Homestead.json
Homestead.yaml
auth.json

.DS_Store
Thumbs.db
.idea/
.vscode/
